<h2>Edit Your Comment:</h2>

<form action="/{{this.id}}?_method=put" method="post">
  <p>
    <label>Comment:</label>
    <input type="text" value="{{this.userComment}}" name="userComment"/>
  </p>
  <input type="submit" value="Update" />
</form>

<form action="/{{this.id}}?_method=delete" method="post">
  <input type="submit" value="Remove">
</form>
