<!doctype html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1"/>
    <title>501 North Discussion</title>
    <link rel="shortcut icon" href="/imgs/favicon.ico" type="image/png" sizes="16x16">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link rel="stylesheet" href="/style.css">
  </head>

  <body>

      <nav class="navbar-fixed">
        <div class="nav-wrapper black">
          <a href="/" class="brand-logo"><img src="/imgs/501North.png" alt="Logo for Project"></a>
          <h3 class="right white-text">Before It Gets Any Worse, Let's Make It Better</h3>
        </div>
      </nav>

    <main> 
        {{{body}}}
    </main>

  </body>
  
</html>
