<div id="welcome">
    <div class="row">
        <div class="col s12 m3 push-m1">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Documents</span>
                    <div class="divider"></div>
                    <div class="section">
                        <i id="icons" class="material-icons">file_copy</i> Council Agenda April 24, 2017</br>
                        <i id="icons" class="material-icons">file_copy</i> Town Report 2016</br>
                        <i id="icons" class="material-icons">file_copy</i> Police Contract</br>
                        <i id="icons" class="material-icons">file_copy</i> Public School Contract</br>
                    </div>
                        <strong class="deep-orange-text text-accent-2">See All Documents</strong> 
                </div>
            </div>
        </div>

        <div class="col s12 m6 push-m2">
            <div class="card">
                <div class="card-content">
                    <span class="card-title"><strong>Before It Gets Any Worse, Let's Make It Better</strong></span>
                    <p>
                        The 'North 501 Express District' is considered by many to be the most promising economic development opportunity that exists inside Lynchburg's city limits. If we cultivate this opportunity it will generate thousands of new jobs and attract new businesses,hotels, event space, retail outlets, upscale restaurants, boutique shops and more into our community. If we let it grow like a weed, we'll all have yet another weed to complain about.
                    </p><br>
                    <p>
                        Let's get the infrastructure design for the North 501 Express District'right'. Let's give this huge economic development opportunity all the benefits of due process that make for quality results!
                    </p>
                    <div class="section">
                        <a id="welcome-button" class="waves-effect deep-orange accent-2 btn right" href="/comments">Please Join The Conversation</a><br>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
