.navbar-fixed {
    height: 7.25rem;
}

.brand-logo > img {
    padding: 0.25rem 0 0 1rem;
}

#welcome {
    background: linear-gradient(to bottom, transparent, #fff 80%), url('/imgs/501-traffic.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100vw;
}

#doc-title > i {
    vertical-align: bottom;
}

#main-title {
    font-weight: bold;
    margin: 0;
}
