.navbar-fixed {
    height: 7.25rem;
}

.nav-wrapper {
    padding: 0 3rem;
}

.brand-logo > img {
    padding: 0.25rem 0 0 1rem;
}

#welcome {
    background: linear-gradient(to bottom, transparent, #fff 80%), url('/imgs/501-traffic.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

#icons {
    color: #ff6e40;
    vertical-align: bottom;
}

figure {
    margin: 0;
}

#edit-action {
    padding: 1.5rem 0;
}
